<!doctype html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Currency converter">

    <title>Конвертор валют</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >

<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/localization/messages_ru.min.js"></script>
<script src="js/app.js"></script>

</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <h2>Конвертор валют</h2>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-6 col-sm-12 text-center">
            <form id="currency-converter">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="from">Из</label>
                        <select class="custom-select d-block w-100" id="from" name="from" required>
                            <option value="">Выбрать</option>
                            {% for item in currencies %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="to">В</label>
                        <select class="custom-select d-block w-100" id="to" name="to" required>
                            <option value="">Выбрать</option>
                            {% for item in currencies %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="amount">Количество</label>
                        <input type="text" class="form-control" name="amount" id="amount" value="" required>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-success btn-lg btn-block" type="submit">Конвертировать</button>
            </form>
            <div class="mt-3">
                <h5 id="converted"></h5>
            </div>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">footer</p>
    </footer>
</div>

</body>
</html>
